.Ability{
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-bottom: 21px;
}

.Ability:hover{
    border-radius: 6px;
    outline: 4px solid #313B45;
    cursor: pointer;
}

.Ability-active {
    border-radius: 6px;
    outline: 4px solid #FE4655 !important;
    cursor: pointer;
}

.Abilities-h1{
    color: #bfbfbf;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 24px;;
}