.Agent{
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-bottom: 21px;
}

.Agent > img {
    height: 70px;
}

.Agent:hover{
    border-radius: 6px;
    outline: 4px solid #313B45;
    cursor: pointer;
}

.Agent-active {
    border-radius: 6px;
    outline: 4px solid #FE4655 !important;
    cursor: pointer;
}
