.MapList{
    font-size: 18px;
}

.Map{
    border-radius: 6px;
    position: relative;
    padding: 0.7em 1em;
    margin: 0.2em 0;
}

.Map:hover{
    background-color: #313B45;
    cursor: pointer;
}

.Map-active {
    background-color: #FE4655 !important;
    border-radius: 6px;
    outline: 5px solid #1F2933;
    outline-offset: -7px;
    position: relative;
    padding: 0.7em 1em;
}