.ListEl {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    list-style: none;

    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 10px 8px;
    width: 70px;
    border-radius: 10px;
}

.ListEl:hover{
    background-color: #313B45;
}

.ListEl-selected{ 
    background-color: #FE4655 !important; 
    color: #fff !important;
    border-radius: 6px;
    outline: 4px solid #1F2933;
    outline-offset: -7px;
    position: relative;
    cursor: pointer;
}